apiVersion: apps/v1
kind: Deployment
metadata:
  name: app1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app1
  template:
    metadata:
      labels:
        app: app1
    spec:
      containers:
      - name: app1
        image: acrforksdemo1.azurecr.io/app1:4fff77d443ef32a9a8f55e3309768e5b13dcb37a
        ports:
        - containerPort: 80
